.traveladmin-dashboard h1{
  color: white;
}
.traveladmin-dashboard table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
 
.traveladmin-dashboard th, .traveladmin-dashboard td {
  border: 1px solid #6b5656;
  padding: 5px;
}
.traveladmin-dashboard tbody{
  background-color: black;
    opacity: 0.8;
    color: white;
}
.traveladmin-dashboard thead{
  background-color: rgb(255, 255, 255);
    opacity: 0.8;
    color: black;
}
.traveladmin-dashboard .return-employee-button{
  background-color: rgb(143, 11, 18);
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-left: 15px;
  width: 100px;
}
.traveladmin-dashboard table .return-employee-button:hover{
  box-shadow: 5px 5px 25px rgb(255, 252, 252);
}
.traveladmin-dashboard table .book-button{
  background-color: rgb(22, 70, 10);
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-left: 15px;
  width: 100px;
}
.traveladmin-dashboard table .book-button:hover{
  box-shadow: 5px 5px 25px rgb(255, 252, 252);
}
.traveladmin-dashboard table .return-manager-button{
  background-color: rgb(11, 68, 143);
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-left: 15px;
  width: 100px;
}
.traveladmin-dashboard table .return-manager-button:hover{
  box-shadow: 5px 5px 25px rgb(255, 252, 252);
}
/* .traveladmin-dashboard div{
  display: flex;
  flex-wrap: wrap;
 } */
 .traveladmin-dashboard header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 95%;
  padding: 20px 40px;
  background-color: rgb(9, 16, 41);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: whitesmoke;
 }
 .traveladmin-dashboard header h1{
  font-size: 2rem;
  font-weight: bold;
 }
 .traveladmin-dashboard header h2{
  margin-left: 35rem;
  font-size: 20px;
 }
 .traveladmin-dashboard header button{
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  background-color: black;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  border: none;
  font-size: 16px;
 }
 .traveladmin-dashboard table thead tr .width{
  width: 28%;
 }
 .traveladmin-dashboard table tbody tr button{
  height: 8vh;
  width: 50px;
 }
 .traveladmin-dashboard table tbody tr .close-button{
  background-color: blueviolet;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 15px;
    width: 200px;
  }
  .traveladmin-dashboard table tbody tr .close-button:hover{
    box-shadow: 5px 5px 25px rgb(255, 252, 252);
  }