/* 
  .manager-table h1{
    color: white;
  }
  .manager-table table{
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 120px;
  }
   
  .manager-table th, .manager-table td {
    border: 1px solid #6b5656;
    padding: 8px;
  }
  .manager-table tbody{
    background-color: black;
      opacity: 0.8;
      color: white;
  }
  .manager-table thead{
    background-color: rgb(255, 255, 255);
      opacity: 0.8;
      color: black;
  }
  .manager-table table .reject{
    background-color: rgb(143, 11, 18);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 15px;
    width: 100px;
  }
  .manager-table table .reject:hover{
    box-shadow: 5px 5px 25px rgb(255, 252, 252);
  }
  .manager-table table .approve{
    background-color: rgb(22, 70, 10);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 15px;
    width: 100px;
  }
  .manager-table table .approve:hover{
    box-shadow: 5px 5px 25px rgb(255, 252, 252);
  }
  .manager-table table .return{
    background-color: rgb(11, 68, 143);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 15px;
    width: 100px;
  }
  .manager-table table .return:hover{
    box-shadow: 5px 5px 25px rgb(255, 252, 252);
  }
  .manager-table div{
    display: flex;
    flex-wrap: wrap;
   }
   .manager-table header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 94%;
    padding: 20px 40px;
    background-color: rgb(9, 16, 41);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: whitesmoke;
   }
   .manager-table header h1{
    font-size: 2rem;
    font-weight: bold;
   }
   .manager-table header h2{
    margin-left: 35rem;
    font-size: 20px;
   }
   .manager-table header button{
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background-color: black;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    border: none;
    font-size: 16px;
   }
   .manager-table table thead tr .width{
    width: 30%;
   } */
   .manager-table h1{
    color: white;
  }
  .manager-table table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    
  }
   
  .manager-table th, .manager-table td {
    border: 1px solid #6b5656;
    padding: 8px;
  }
  .manager-table tbody{
    background-color: black;
      opacity: 0.8;
      color: white;
  }
  .manager-table thead{
    background-color: rgb(255, 255, 255);
      opacity: 0.8;
      color: black;
  }
  .manager-table table .reject{
    background-color: rgb(143, 11, 18);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 15px;
    width: 100px;
  }
  .manager-table table .reject:hover{
    box-shadow: 5px 5px 25px rgb(255, 252, 252);
  }
  .manager-table table .approve{
    background-color: rgb(22, 70, 10);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 15px;
    width: 100px;
  }
  .manager-table table .approve:hover{
    box-shadow: 5px 5px 25px rgb(255, 252, 252);
  }
  .manager-table table .return{
    background-color: rgb(11, 68, 143);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 15px;
    width: 100px;
  }
  .manager-table table .return:hover{
    box-shadow: 5px 5px 25px rgb(255, 252, 252);
  }
  .manager-table div{
    display: flex;
    flex-wrap: wrap;
   }
   .manager-table header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 94%;
    padding: 20px 40px;
    background-color: rgb(9, 16, 41);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: whitesmoke;
   }
   .manager-table header h1{
    font-size: 2rem;
    font-weight: bold;
   }
   .manager-table header div{
    margin-left: 35rem;
    font-size: 20px;
   }
   .manager-table header button{
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background-color: black;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    border: none;
    font-size: 16px;
   }
   .manager-table table thead tr .width{
    width: 30%;
   }
   .manager-table header button:hover {
    background-color: grey;
    color: black;
  }